.Items {
    display: flex;
    flex-direction: column;
}

.ListLabel {
    font-family: Helvetica, Arial;
    font-size: 13px;
    font-weight: 800;
    text-align: left;
    margin-left: 32px;
    color: rgb(138, 138, 138);
}


.WarningHeader {
    font-family: Helvetica, Arial;
    font-size: 15px;
    font-weight: 900;
    margin-left: 32px;
    color: rgb(66, 66, 66);
    text-align: center;
    margin: 8px 1rem 12px 1rem;
}

.WarningText {
    font-family: Helvetica, Arial;
    font-size: 14px;
    font-weight: 500;
    margin-left: 32px;
    color: rgb(129, 129, 129);
    text-align: center;
    margin: 8px 1rem 8px 1rem;
}
